.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}